.customTextarea {
    resize: none;
}

.customContainer {
    background-color: #f0f0f0;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

h1 {
    font-family: "Audiowide", cursive;
}
