.hidden {
  display: none;
}

.show {
  display: block;
}

.row .card .card-body .card-text {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.noItems-alert {
  padding: 0 2rem 0 2rem !important;
}

.alert-info {
  width: 100% !important;
}

.formComplete {
  margin-left: 2rem;
}

.row .input-group {
  padding-left: 2rem;
}

.input-group .input-group-text {
  width: 65%;
  font-size: 1.2rem;
}

.input-group .form-control {
  width: 45%;
  font-size: 1.2rem;
}

.btn-grid{
  display: grid;
  grid-template-areas: "button1 button2";
  grid-gap: calc(20%);
}

.carBtn .cardCarBtn-alert {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 30%;
}

.circuitBtn .cardCircuitBtn-alert {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 30%;
}
