body {
    background-color: #f0f0f0;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-container {
    background-color: white;
    max-width: 400px;
    width: 100%;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
