.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.card {
  background-color: #f0f0f0;
  border: 5px solid #D76464;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card a {
  text-decoration: none;
  color: #D76464;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.card:hover {
  background-color: #f2f2f2;
}
