.icon {
    width: 3rem;
    height: 3rem;
}

.row h5 {
    padding-top: 0.5rem;
    align-content: center;
}

.col-xl-3 {
    gap: 1rem;
    display: flex;
}

.col-xl-2 {
    gap: 1rem;
    display: flex;
}

.col-xl-1 {
    display: flex;
    gap: 1rem;
}

.material-symbols-outlined {
    align-content: center;
    font-size: xxx-large;
    color: #1c1c1e;
}

.eurobutton {
    padding-left: 1em;
}

.modal-dialog {
    max-width: 600px;
}

.container-table {
    background-color: #f0f0f0;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.btn-grid {
    gap: 1rem;
    grid-template-columns: auto auto;
    display: grid;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .btn-grid {
        display: grid;
    }

    .btn-dropdown {
        display: none;
    }

    .eurobutton {
        padding-left: 0em;
    }
}

@media screen and (min-width: 1200px) {
    .btn-grid {
        display: none;
    }
    .btn-dropdown {
        display: block;
    }
    .eurobutton {
        padding-left: 1em;
    }
}

