@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

@keyframes show {
  100% {
    opacity: 1;
    transform: none;
  }
}

.container h1 {
  font-family: "Audiowide", cursive;
}

.container-form {
  background-color: #f0f0f0;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;

  opacity: 0;
  transform: rotateX(-90deg);
  transform-origin: top center;

  animation: show 600ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
}

.container-form h2 {
  font-family: "Audiowide", cursive;
}

.row {
  padding-left: 0rem;
  padding-right: 0rem;
}

.row .card {
  border-radius: 10px;
  border-color: #D76464;
  border-width: 1px;
  box-shadow: 0px 0px 10px #D76464;
  height: 20.5rem;
  width: 22.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0.6rem auto 0.6rem auto;
  padding-right: 0%;
  padding-left: 0%;
  transition: transform 0.4s;
}

.row .card:hover {
  transform: scale(1.1);
  z-index: 2;
}

.row .card .card-img-top {
  height: 65%;
  width: 100%;
  object-position: center;
  border-radius: 10px;
  position: relative;
}

.row .card .card-body {
  height: 35%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.row .card .card-body .h5 {
  font-family: "Audiowide", cursive;
}

.row .card .card-body .h6 {
  font-family: "Audiowide", cursive;
}

.modal-header h3 {
  font-family: "Audiowide", cursive;
}

.alert-top-margin {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .container h1 {
    font-size: 2rem;
    margin-top: 1rem;
  }

  .container-form h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .container h1 {
    font-family: "Audiowide", cursive;
    font-size: 3rem;
    margin-top: 1.5rem;
  }

  .container-form h2 {
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
}
