.navbar {
    background-color: #D76464;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: lightgrey;
}